dash==2.18.2
findspark==2.0.1
keras==3.5.0
keras-tuner==1.4.7
matplotlib==3.9.2
mysql-connector-python==9.1.0
nltk==3.9.1
pandas==2.2.3
pymongo==4.10.1
pymysql==1.1.1
pyspark==3.4.3
scikit-learn==1.5.2
seaborn==0.13.2
skimpy==0.0.15
sqlalchemy==2.0.36
statsmodels==0.14.4
summarytools==0.3.0
tensorflow==2.17.0


